@{
    Layout = null;
    
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MoreDakka Tests</title>

    @Styles.Render("~/Content/jasmine.css")


    @Scripts.Render("~/Scripts/Libraries/jasmine.js")
    @Scripts.Render("~/Scripts/Libraries/jasmine-html.js")
    @Scripts.Render("~/Scripts/Libraries/angular.js")
    @Scripts.Render("~/Scripts/Libraries/angular-route.js")
    @Scripts.Render("~/Scripts/Libraries/angular-animate.js")
    @Scripts.Render("~/Scripts/Libraries/angular-mocks.js")

    @Scripts.Render("~/Scripts/MoreDakka/MoreDakka.js")
    @Scripts.Render("~/Scripts/MoreDakka/Config.js")
    @Scripts.Render("~/Scripts/MoreDakka/Controllers/HomeController.js")
    @Scripts.Render("~/Scripts/MoreDakka/Controllers/ForumController.js")

    @Scripts.Render("~/Scripts/MoreDakka/specs/Test.js")

    <script type="text/javascript">
        (function () {
            var jasmineEnv = jasmine.getEnv();
            jasmineEnv.updateInterval = 1000;

            var trivialReporter = new jasmine.TrivialReporter();

            jasmineEnv.addReporter(trivialReporter);

            jasmineEnv.specFilter = function (spec) {
                return trivialReporter.specFilter(spec);
            };

            var currentWindowOnload = window.onload;

            window.onload = function () {
                if (currentWindowOnload) {
                    currentWindowOnload();
                }
                execJasmine();
            };

            function execJasmine() {
                jasmineEnv.execute();
            }

        })();
    </script>
</head>

<body>
</body>
</html>
