@using MoreDakka.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="panel panel-warning">
    <div class="panel-body">
        If you do not have an account, use the 'Login with Battle.Net' button to the right to create one.
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
        <div class="well well-lg">
            <h2>Login with Battle.Net via OAuth2</h2>
            <p>
                With the release of OAuth2 login from Battle.Net, many fansites have started to allow you to login to their website with your Battle.Net account. As such, we have decided to require all
                new users to login via Battle.Net for the first time. This helps to keep our site secure, and keep out bots.
            </p>
            <p>
                Well-known sites with 'Login with Battle.Net' allowed:
                <ul>
                    <li><a href="http://www.wowhead.com/" target="_blank">Wowhead</a>: (<a href="http://www.wowhead.com/news=242699/introducing-battle-net-oauth-login-on-wowhead-and-hearthhead" target="_blank">News Article</a>)</li>
                    <li><a href="http://www.askmrrobot.com/" target="_blank">Ask Mr Robot</a>: (<a href="http://blog.askmrrobot.com/2014/08/battle-net-oauth-login-integration/" target="_blank">News Article</a>)</li>
                    <li><a href="http://us.battle.net/wow/en/blog/15336025/attention-web-developers-8-21-2014">Battle.Net Official News Article</a></li>
                </ul>
            </p>
            <h3>Is it safe?</h3>
            <p>
                Login with Battle.Net uses the same technology commonly used by Facebook apps, Google+ and Github. It works by redirecting you to the vendors site (in this case Battle.Net), in turn they send
                us a token to say you have successfully authenticated with their service.
            </p>
            <p>
                Battle.Net and Blizzard have always said you should only login to their sites directly, and this is no exception. When redirected, you should land on the Battle.Net of your region (i.e. https://eu.battle.net/oauth).
                If you do not see this url in your address bar (see below) <b>you should avoid logging in with your Battle.Net credentials</b>.<br />
                <div style="text-align: center;"><img src="/Content/BattleNetAddressBar.png" style="width: 80%;" /></div>
            </p>
            <h3>What info can be obtained about my account?</h3>
            <p>
                Currently, using OAuth2 applications can access a list of your character names, though this can be disallowed during the login process by unchecking the 'Your World of Warcraft profile' checkbox.
            </p>
            <p>
                <b>Applications are not able to in anyway interact with your account, nor access the game in any way.</b>
            </p>
            <h3>Can I revoke access once granted?</h3>
            <p>
                You can revoke access to applications at any point, after which they will no longer be able to access any information until you re-authenticate via that application.
                To do this, go to the 'Authorized Applications' page under the 'Security Options' tab on your Battle.Net Account Management profile. You can then 'Disconnect' any application from your account.
            </p>
            <p>
                You can use one of the following links to access the Authorized Applications lists directly:
                <ul>
                    <li><a href="https://eu.battle.net/account/management/authorizations.html">European Authorized Applications list.</a></li>
                    <li><a href="https://us.battle.net/account/management/authorizations.html">American Authorized Applications list.</a></li>
                </ul>
                
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}