@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html data-ng-app="moreDakka">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>More Dakka</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/Views/Home/Content/Favicon.png")" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="More Dakka Guild Website" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div style="float: right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/Manage">Hello @User.Identity.GetUserName()</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Login">Login</a></li>
                    </ul>
                }
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("More Dakka", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/">Home</a></li>
                    <li><a href="/#/forums">Forums</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/Libraries/strapdown.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>