@model MoreDakka.Areas.Admin.Models.EditUserViewModel

@{
    ViewBag.Title = string.Format("Edit User: {0}", Model.UserName);
}

<h2>Edit User: @Model.UserName</h2>

@using (var form = Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.HiddenFor(m => m.Id)
    @Html.EditorFor(m => m.UserName)
    @Html.EditorFor(m => m.Email)
    
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Save</button>
}